<div class="container2">
       <div class="uno tarjeta">uno</div>
       <div class="dos tarjeta">dos</div>
       <div class="tres tarjeta">tres</div>
       <div class="cuatro tarjeta">cuatro</div>
       <div class="cinco tarjeta">cinco</div>
       <div class="seis tarjeta">seis</div>
       <div class="siete tarjeta">siete</div>
       <div class="ocho tarjeta">ocho</div>
       <div class="nueve tarjeta">nueve</div>
       <div class="diez tarjeta">diez</div>
       <div class="once tarjeta">once</div>
       <div class="doce tarjeta">doce</div>
</div>