<section class="container-fluid text-center d-flex align-items-center " id="main-section-sketch">
    <div class="row justify-content-center  mx-auto ">
        <div class="col-lg-6 border mx-auto  my-5 py-5" id="centered-sketch">
            <h1>Welcome To SketchPage</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate repellendus, unde, eum ab odit
                voluptatum voluptatem, mollitia nihil aut quas v</p>
        </div>
    </div>
</section>
<script src="/javascripts/script.js"></script>